doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CONTENT CREATION & PRODUCTION | 09STD
  meta(name='description' content='')
.app
  include ../partials/includes/header.pug
  
  include ../partials/mixins/page-header.pug
  +page-header('Content creation & production')

  main.gallery 
    .gallery__description
      p.gallery__paragraph THE POINT OF USING LOREM IPSUM IS THAT IT HAS A MORE-OR-LESS NORMAL DISTRIBUTION OF LETTERS, AS OPPOSED TO USING 

    .gallery__container
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
      a.gallery__item(href="/project.html")
        img.gallery__image(src=require('../assets/images/photo-1.jpg') alt='')
        h3.gallery__name YVES SAINT LAURENT 2022
  
  
