doctype html
head
  include ../partials/includes/metadata.pug
  title 09STD
  meta(name='description' content='')
.app
  include ../partials/includes/header.pug
  include ../partials/includes/navigation.pug

  main.home-page.home-page--js
    img.home-page__image.home-page__image--js(src=require('../assets/images/1.jpg') alt='')
    h3.home-page__description.home-page__description--js Constent YSL 2020
    img.home-page__image.home-page__image--js(src=require('../assets/images/2.jpg') alt='')
    h3.home-page__description.home-page__description--js YVES SAINT LAURENT 2022 
    img.home-page__image.home-page__image--js(src=require('../assets/images/3.jpg') alt='')
    h3.home-page__description.home-page__description--js Constent YSL 2020
    img.home-page__image.home-page__image--js(src=require('../assets/images/4.jpg') alt='')
    h3.home-page__description.home-page__description--js YVES SAINT LAURENT 2022 
    img.home-page__image.home-page__image--js(src=require('../assets/images/5.jpg') alt='')
    h3.home-page__description.home-page__description--js Constent YSL 2020
    img.home-page__image.home-page__image--js(src=require('../assets/images/6.jpg') alt='')
    h3.home-page__description.home-page__description--js YVES SAINT LAURENT 2022 
    img.home-page__image.home-page__image--js(src=require('../assets/images/7.jpg') alt='')
    h3.home-page__description.home-page__description--js Constent YSL 2020
    img.home-page__image.home-page__image--js(src=require('../assets/images/8.jpg') alt='')
    h3.home-page__description.home-page__description--js YVES SAINT LAURENT 2022 

    